<div class="w-full">


  <div class="flex flex-col md:flex-row justify-between mb-4 p-6 w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-white ">
    <div class="mb-4 md:mb-0">
      <form class="max-w-sm mx-auto">
        <select id="years" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-96 text-center p-2.5 ">
          <option selected>Ciclo Escolar 2023 - 2024</option>
          <option value="">Ciclo Escolar 2022 - 2023</option>
          <option value="">Ciclo Escolar 2021 - 2022</option>
          <option value="">Ciclo Escolar 2020 - 2021</option>
          <option value="">Ciclo Escolar 2019 - 2020</option>
        </select>
      </form>
    </div>
    <div>
      <form class="max-w-sm mx-auto">
        <select id="months" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-40 p-2.5  text-center">
          <option selected>Mayo</option>
          <option value="">Abril</option>
          <option value="">Marzo</option>
          <option value="">Febrero</option>
          <option value="">Enero</option>
        </select>
      </form>
    </div>
  </div>



  <div class="flex flex-col p-6 w-full bg-white border border-gray-200 rounded-lg shadow">
    <div class="w-full text-center font-semibold text-2xl">
      <p>Primaria 2 - A</p>
    </div>
    <div class="pt-3">
      <div class="flex items-center">
        <div class="flex-shrink-0">
            <img class="w-8 h-8 rounded-full" src="https://th.bing.com/th/id/OIP.tvaMwK3QuFxhTYg4PSNNVAHaHa?rs=1&pid=ImgDetMain" alt="Neil image">
        </div>
        <div class="flex-1 min-w-0 ms-4">
            <p class="text-sm font-medium text-gray-900 truncate ">
                MS. Mayra Martinez
            </p>
            <p class="text-sm text-gray-500 truncate ">
              Maestra Titular
            </p>
        </div>
        <div class="inline-flex items-center text-base font-semibold text-gray-900 ">

        </div>
    </div>
    </div>

    <div class="pt-5 flex justify-center">


<div class="relative max-w-3xl overflow-x-auto shadow-md sm:rounded-lg justify-center w-full">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 table-a ">

      <thead class="text-xs text-black uppercase bg-white  ">
          <tr>
              <th scope="col" class="px-6 py-3">

              </th>
              <th scope="col" class="w-5 px-6 py-3">
                Tendencia
            </th>
              <th scope="col" class="px-6 py-3">
                  Enero
              </th>
              <th scope="col" class="px-6 py-3">
                  Febrero
              </th>
              <th scope="col" class="px-6 py-3">
                  Marzo
              </th>
              <th scope="col" class="px-6 py-3">
                  Abril
              </th>
          </tr>
      </thead>
      <tbody>
          <tr class="bg-white border-b  ">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                  Español
              </th>
              <td class="px-6 py-4 ">
                <a [routerLink]="'materia'">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="m136-240-56-56 296-298 160 160 208-206H640v-80h240v240h-80v-104L536-320 376-480 136-240Z"/></svg>
                </a>
              </td>
              <td class="px-6 py-4">
                  8
              </td>
              <td class="px-6 py-4">
                  9
              </td>
              <td class="px-6 py-4 ">
                  8
              </td>
              <td class="px-6 py-4">
                9
            </td>
          </tr>
          <tr class="bg-white border-b  ">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                Matematicas
            </th>
            <td class="px-6 py-4 ">
              <a [routerLink]="'materia'">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="m136-240-56-56 296-298 160 160 208-206H640v-80h240v240h-80v-104L536-320 376-480 136-240Z"/></svg>
              </a>
            </td>
            <td class="px-6 py-4">
                8
            </td>
            <td class="px-6 py-4">
                9
            </td>
            <td class="px-6 py-4 ">
                8
            </td>
            <td class="px-6 py-4">
              9
          </td>
        </tr>
        <tr class="bg-white border-b  ">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
              Conocimiento del Medio
          </th>
          <td class="px-6 py-4 ">
            <a [routerLink]="'materia'">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M640-240v-80h104L536-526 376-366 80-664l56-56 240 240 160-160 264 264v-104h80v240H640Z"/></svg>
            </a>
          </td>
          <td class="px-6 py-4">
              8
          </td>
          <td class="px-6 py-4">
              9
          </td>
          <td class="px-6 py-4 ">
              8
          </td>
          <td class="px-6 py-4">
            9
        </td>
      </tr>
      <tr class="bg-white border-b  ">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
            Formación Cívica y Etica
        </th>
        <td class="px-6 py-4 ">
          <a [routerLink]="'materia'">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M640-240v-80h104L536-526 376-366 80-664l56-56 240 240 160-160 264 264v-104h80v240H640Z"/></svg>
          </a>
        </td>
        <td class="px-6 py-4">
            8
        </td>
        <td class="px-6 py-4">
            9
        </td>
        <td class="px-6 py-4 ">
            8
        </td>
        <td class="px-6 py-4">
          9
      </td>
    </tr>
    <tr class="bg-white border-b  ">
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
          Artes (Danza)
      </th>
      <td class="px-6 py-4 ">
        <a [routerLink]="'materia'">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="m136-240-56-56 296-298 160 160 208-206H640v-80h240v240h-80v-104L536-320 376-480 136-240Z"/></svg>
        </a>
      </td>
      <td class="px-6 py-4">
          8
      </td>
      <td class="px-6 py-4">
          9
      </td>
      <td class="px-6 py-4 ">
          8
      </td>
      <td class="px-6 py-4">
        9
    </td>
  </tr>
  <tr class="bg-white border-b  ">
    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
        Educación fisica
    </th>
    <td class="px-6 py-4 ">
      <a [routerLink]="'materia'">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M640-240v-80h104L536-526 376-366 80-664l56-56 240 240 160-160 264 264v-104h80v240H640Z"/></svg>
      </a>
    </td>
    <td class="px-6 py-4">
        8
    </td>
    <td class="px-6 py-4">
        9
    </td>
    <td class="px-6 py-4 ">
        8
    </td>
    <td class="px-6 py-4">
      9
  </td>
</tr>
      </tbody>
  </table>
</div>


    </div>
  </div>


</div>
