<div
  class="flex justify-center p-2 mb-4 w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-white"
>
  <div>
    <div
      class="max-w-2xl bg-white border border-gray-200 rounded-lg shadow"
    >
      <div class="flex justify-end px-4 pt-4 w-full">
        <div class="flex flex-col items-center w-2xl pb-10">
          <img
            class="w-52 h-52 mb-3 rounded-full shadow-lg"
            src="https://lh3.googleusercontent.com/a/ACg8ocI-sX6vh8VYST92fKDkVYtaTaqrbP2PEB2Rr65W_RpaZajmtMRv=s288-c-no"
            alt="Fantasma"
          />
          <div class="text-xl">Nombre: Alberto Mendoza Jimenez</div>
          <div class="text-lg font-semibold">1A, KND, U MTY</div>

          <label for="">Cambiar contraseña</label>
          <div class="flex justify-between mx-2">
            <span
              class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#5f6368"
              >
                <path
                  d="M240-80q-33 0-56.5-23.5T160-160v-400q0-33 23.5-56.5T240-640h40v-80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720v80h40q33 0 56.5 23.5T800-560v400q0 33-23.5 56.5T720-80H240Zm0-80h480v-400H240v400Zm240-120q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM360-640h240v-80q0-50-35-85t-85-35q-50 0-85 35t-35 85v80ZM240-160v-400 400Z"
                />
              </svg>
            </span>
            <input
              type="text"
              id="website-admin"
              disabled
              class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5"
              placeholder="*********"
            />
            <button class="border-gray-300 bg-violet-600 rounded mx-4 p-2">
              Cambiar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
