<div class="columns-2xl  w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-white dark:border-gray-700">
  <div>
    <div>
      <img [src]="data[0].img" class="w-full rounded-3xl" alt="">
    </div>
  </div>

  <div class="grid-flow-row">
    <div class="w-full font-sans font-semibold text-3xl px-2.5">
      {{data[0].titulo}}
    </div>
    <div class="w-full">
      <div class="pt-2">
        @for (tag of data[0].tag; track $index) {
        <span class="bg-gray-200 text-black text-xl font-semibold px-2.5 py-0.5 rounded dark:bg-gray-300 dark:text-black ms-3">
          {{tag}}
        </span>
      }
      </div>
    </div>
    <div class="w-full">
      <div class="pt-3 px-2.5">
        <div class="flex items-center">
          <div class="flex-shrink-0">
              <img class="w-8 h-8 rounded-full" src="{{data[0].imgtch}}" alt="Neil image">
          </div>
          <div class="flex-1 min-w-0 ms-4">
              <p class="text-xl font-medium text-gray-900 truncate dark:text-black">
                  {{data[0].nombretch}}
              </p>
              <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                {{data[0].fecha}}
              </p>
          </div>
          <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">

          </div>
      </div>
      </div>
    </div>
    <div class="w-full">

    </div>
    <div class="w-full">1</div>
  </div>
</div>
