<div class="flex justify-between p-2 mb-4 w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-white dark:border-gray-700">
  <div class="font-semibold">
    Publicación
  </div>
  <div class="flex justify-between p-2 items-center">
    <a [routerLink]="['../',previousPublic()]" class="hover:bg-slate-200 flex p-1 rounded-lg items-center" (click)="previousPublic()">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"  width="24px" fill="#5f6368">
        <path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/>
      </svg>
    </a>
    <a [routerLink]="['../',nextPublic()]"  class="hover:bg-slate-200 flex p-1 rounded-lg items-center">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368" >
        <path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z"/>
      </svg>
    </a>
  </div>



</div>



<div class="columns-2xl  w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-white dark:border-gray-700">
  <div>
    <div>
      <img [src]="data[publicSelect].img" class="w-full rounded-3xl" alt="">
    </div>
  </div>

  <div class="grid-flow-row h-auto">
    <div class="w-full font-sans font-semibold text-3xl px-2.5">
      {{data[publicSelect].titulo}}
    </div>
    <div class="w-full">
      <div class="pt-2">
        @for (tag of data[publicSelect].tag; track $index) {
        <span class="bg-gray-200 text-black text-xl font-semibold px-2.5 py-0.5 rounded dark:bg-gray-300 dark:text-black ms-3">
          {{tag}}
        </span>
      }
      </div>
    </div>
    <div class="w-full">
      <div class="pt-3 px-2.5">
        <div class="flex items-center">
          <div class="flex-shrink-0">
              <img class="w-8 h-8 rounded-full" src="{{data[publicSelect].imgtch}}" alt="Neil image">
          </div>
          <div class="flex-1 min-w-0 ms-4">
              <p class="text-xl font-medium text-gray-900 truncate dark:text-black">
                  {{data[publicSelect].nombretch}}
              </p>
              <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                {{data[0].fecha}}
              </p>
          </div>
          <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">

          </div>
      </div>
      </div>
    </div>
    <div class="w-full px-4 text-md font-normal text-gray-700 ">
      HEDONIST ROOTS
Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text. “It's not Latin, though it looks like it, and it actually says nothing,” Before & After magazine answered a curious reader, “Its ‘words’ loosely approximate the frequency with which letters occur in English, which is why at a glance it looks pretty real.”

As Cicero would put it, “Um, not so fast.”

The placeholder text, beginning with the line “Lorem ipsum dolor sit amet, consectetur adipiscing elit”, looks like Latin because in its youth, centuries ago, it was Latin.

Richard McClintock, a Latin scholar from Hampden-Sydney College, is credited with discovering the source behind the ubiquitous filler text. In seeing a sample of lorem ipsum, his interest was piqued by consectetur—a genuine, albeit rare, Latin word. Consulting a Latin dictionary led McClintock to a passage from De Finibus Bonorum et Malorum (“On the Extremes of Good and Evil”), a first-century B.C. text from the Roman philosopher Cicero.

In particular, the garbled words of lorem ipsum bear an unmistakable resemblance to sections 1.10.32–33 of Cicero's work, with the most notable passage excerpted below:

“Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.”
A 1914 English translation by Harris Rackham reads:

“Nor is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but occasionally circumstances occur in which toil and pain can procure him some great pleasure.”
McClintock's eye for detail certainly helped narrow the whereabouts of lorem ipsum's origin, however, the “how and when” still remain something of a mystery, with competing theories and timelines.
    </div>
    <div class="w-full">1</div>
  </div>
</div>
